@import-normalize;

:root {
  --primary: #FF5C57;
  --secondary: #0F6378;
  --secondary-text: #014554;
  --secondary-background: #ECF3F4;
  --grey-400: #E0DED9;
  --grey-900: #333330;
  --text-color: var(--grey-900);
  --background-color: #FCFCF7;
  --border-radius: .375rem;
  --spacing: 1rem;
}

body {
  font: 100%/1.5 system-ui, -apple-system, Segoe UI, Roboto, Noto Sans, Ubuntu, Cantarell, Helvetica Neue;
  color: var(--text-color);
  background-color: var(--background-color);
  margin: 0;
}

h1, 
h2, 
h3, 
h4, 
h5, 
h6 {
  font-weight: 700;
}
